body{
	font-family: sans-serif;
	box-sizing: border-box;
	padding-top: 8rem;
	background-image: url(inicio.jpg);
	background-position: center;
	background-size: auto;
	background-repeat: no-repeat;
	background-color: darkslategray;
}
div {
	width: 19rem;
	height: 20rem;
	text-align: center;
	padding: auto;
	margin: auto;
	border-radius: 0.7rem;
	border: solid;
	background-position: center;
	background-size: 19rem;
	background-color: black;
	opacity: 85%;
}
h5 {
	display: inline;
	font-size: xx-large;;
	font-weight: 800;
	color: white;
	opacity: 100%;
}
form {
	font-size: large;
	font-weight: 800;
}
label {
	font-size: large;
	color: white;
	opacity: 100%;
}
input {
	
	width: 16rem;
	height: 1.5rem;
	font-size: large;
	font-weight: 600;
}

button {
	width: 10rem;
	height: 2rem;
	font-size: x-large;
	transition: 150ms ease-in-out all;
	background-color: white;
	border: none;
	opacity: 100%;

}
button:hover {
	background-color: darkslategray;
}
a {
	font-size: large;
	font-weight: 400;
	color: steelblue;
	transition: 150ms ease-in-out all;
	text-shadow: 2px 2px 10px black;, 2px 2px 10px white;
	border: none;
}
a:hover {
	color: darkred;
}